.button {
  padding: 10px 20px;
  border-radius: var(--rounded);
  background-color: var(--color-yellow);
  padding-bottom: 12px;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  font-family: inherit;
  font-size: inherit;
  width: fit-content;
}

.button:hover {
  background-color: var(--color-green);
}
