.testimonial-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-grey);
  padding: 20px;
  gap: 15px;
  border-radius: var(--rounded);
}

.testimonal-img {
  width: 100px;
  height: 100px;
  border-radius: var(--rounded);
}

.testimonial-top-row {
  display: flex;
  gap: var(--gap-small);
}

.testimonial-stars-row {
  display: flex;
  gap: 5px;
  color: var(--color-yellow);
}
