/* HERO SECTION BEGIN */
.hero {
  background-color: var(--color-green);
  margin-bottom: 120px;
}

.hero .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  /* height: 400px; */
  position: relative;
}

.hero-left {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 20px;
  color: var(--color-light-grey);
}

.hero-left .text h1 {
  margin-bottom: -15px;
}

.hero-left h1 {
  font-size: 40pt;
}

.hero-left h3 {
  font-size: 28pt;
}

.hero-right {
  background-image: url(../../../images/restauranfood.jpg);
  background-size: cover;
  position: absolute;
  width: 45%;
  height: 450px;
  top: 20px;
  right: 20px;
  border-radius: var(--rounded);
}
/* HERO SECTION END */

/* SPECIALS SECTION BEGIN */

.specials-header {
  display: flex;
  justify-content: space-between;
}

.special-cards-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  /* height: 100px; */
}

.testimonial-cards-row {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.special-card-container {
  flex: 1;
  min-width: 250px;
}
/* SPECIALS SECTION END */

/* TESTIMONIALS SECTION BEGIN */
.testimonials-section {
  background-color: var(--color-yellow);
}

.testimonial-cards-row {
  /* display: grid;
  grid-template-columns: repeat(4, 1fr); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.testimonial-card-container {
  flex: 1;
}
/* TESTIMONIALS SECTION END */

/* ABOUT SECTION BEGIN */
.about-section {
  min-height: 80vh;
}

.about-section .container {
  display: flex;
}

.about-left {
  position: relative;
  flex: 1;
}

.about-right {
  position: relative;
  flex-direction: row;
  display: flex;
  justify-content: center;
  flex: 2;
}

.about-img-one {
  background-image: url(../../../images/Mario\ and\ Adrian\ A.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 400px;
  border-radius: var(--rounded);
  z-index: 1;
}

.about-img-two {
  background-image: url(../../../images/Mario\ and\ Adrian\ b.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 300px;
  height: 400px;
  top: 70px;
  right: 70px;
  border-radius: var(--rounded);
  z-index: 2;
}

/* ABOUT SECTION END */

@media (max-width: 860px) {
  .hero {
    margin-bottom: 0px;
  }
  .hero .container {
    flex-direction: column;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    gap: 20px;
    color: var(--color-light-grey);
  }

  .hero-right {
    display: none;
  }

  .mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-section {
    min-height: 80vh;
  }

  .about-section .container {
    display: flex;
    flex-direction: column;
  }

  .about-left {
    position: relative;
    flex: 1;
    margin-bottom: 30px;
  }

  .about-right {
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
    flex: 2;
    margin-bottom: 50px;
  }

  .about-img-one {
    background-image: url(../../../images/Mario\ and\ Adrian\ A.jpg);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 400px;
    border-radius: var(--rounded);
    z-index: 1;
  }

  .about-img-two {
    background-image: url(../../../images/Mario\ and\ Adrian\ b.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 300px;
    height: 400px;
    top: 70px;
    right: 70px;
    border-radius: var(--rounded);
    z-index: 2;
  }
}
